@import "~zen-css";

// ------------------------------------------------------------------- Structure
:root {
    --sidebar-width: 6rem;
    --header-height: 6rem;
    --input-height: 4rem;
    --h1-font-size: var(--font-size-large);
}
