:host {
    section {
        position: absolute;
        left: var(--side-menu-width);
        top: 0;
        right: 0;
        bottom: 0;
        padding: var(--size-small);
        overflow: auto;
    }
}
